# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos gerados pela compilação TypeScript
dist/

# Ignorar o arquivo package-lock.json
package-lock.json

# Ignorar arquivos gerados pelo Jest
coverage/
